/*
// Project Name: Milestone6
// Project Version: 1.5
// Module Name: List of Blog Posts With Update and Delete Blog Module
// Module Version: 1.5
// Programmer Name: Justin Gewecke
// Date: 7/26/2020
// Description: This module handles the update and delete functionality of the website as well as statistics
// References: https://www.w3schools.com/php/php_mysql_insert.asp
*/

div.settings {
    display:grid;
    grid-template-columns: max-content max-content;
    grid-gap:5px;
}
div.settings label       { text-align:right; }
div.settings label:after { content: ":"; }

.group {
	display: flex;
	margin-bottom: 5px;
}

input[type=text] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

input[type=password] {
	height: 2opx;
	align-items: flex-end;
	margin-left: 10px;
}

.textInput {
  display: inline-block;
  width: 6em;
  margin-right: .5em;
  padding-top: 1.5em;
}

.postSubmit {
	display: inline-block;
 	width: 6em;
 	position: relative;
 	top: -3em;
}